:root {
    --links-hover-active-bg: #ff6565;
    --buttons-hover-active-opacity: 0.9;
  }
  
  @font-face {
    font-family: "Source Sans Pro";
    src: url("assets/fonts/source-sans-pro/SourceSansPro-Regular.otf") format("otf");
    font-weight: normal;
  }
  
  @font-face {
    font-family: "Source Sans Pro";
    src: url("assets/fonts/source-sans-pro/SourceSansPro-Light.otf") format("otf");
    font-weight: 200;
  }
  
  @font-face {
    font-family: "Source Sans Pro";
    src: url("assets/fonts/source-sans-pro/SourceSansPro-ExtraLight.otf") format("otf");
    font-weight: lighter;
  }
  
  @font-face {
    font-family: "Source Sans Pro";
    src: url("assets/fonts/source-sans-pro/SourceSansPro-Bold.otf") format("otf");
    font-weight: bold;
  }
  
  @font-face {
      font-family: "Spincycle OT";
      src: url("assets/fonts/spin-cycle-ot/spincycle_ot.otf") format("otf");
  }
  
  html {
    font-size: 62.5%;
  }
  
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
header, #hero, main, footer {
    max-width: 1000px;
    margin: 0 auto;
}
section, footer {
    padding-inline: clamp(2em, 6vw, 5em);
    width: 100%;
}
main section, footer {
    padding-block: clamp(4em, 5vh, 5em);
    text-align: center;
}
button {
    font-size: clamp(1rem, 1rem + 2vw, 2rem);
    font-weight: bold;
    background-color: var(--links-hover-active-bg);
    padding-inline: 1em;
    padding-block: 0.5em;
    color: white;
    border-radius: 33em;
    border: none;
    text-transform: uppercase;
}
button:hover {
    opacity: var(--buttons-hover-active-opacity);
    cursor: pointer;
}
* {
    box-sizing: border-box;
    font-family: "Source Sans Pro";
    margin: 0;
    padding: 0;
}
#hero-section {
    background: no-repeat url("assets/images/headphones_hero_1.jpg");
    background-size: cover;
    min-height: 100vh;
}
#hero-section nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}
.logo {
    height: auto;
    width: max(170px, 22vw);
}
#nav-links {
    display: none;
}
#hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
    text-align: center;
    color: white;
}
h1 {
    font-size: clamp(1rem, 1rem + 5vw, 5rem);
}
#hero p {
    font-size: clamp(1.5rem, 1rem + 1vw, 2rem);
    margin-block: 2rem;
}
#hero-text {
    font-weight: lighter;
    font-size: 0.8rem;
}
