:root {
    --links-hover-active-bg: #ff6565;
    --buttons-hover-active-opacity: 0.9;
  }
  
  @font-face {
    font-family: "Source Sans Pro";
    src: url("assets/fonts/source-sans-pro/SourceSansPro-Regular.otf") format("otf");
    font-weight: normal;
  }
  
  @font-face {
    font-family: "Source Sans Pro";
    src: url("assets/fonts/source-sans-pro/SourceSansPro-Light.otf") format("otf");
    font-weight: 200;
  }
  
  @font-face {
    font-family: "Source Sans Pro";
    src: url("assets/fonts/source-sans-pro/SourceSansPro-ExtraLight.otf") format("otf");
    font-weight: lighter;
  }
  
  @font-face {
    font-family: "Source Sans Pro";
    src: url("assets/fonts/source-sans-pro/SourceSansPro-Bold.otf") format("otf");
    font-weight: bold;
  }
  
  @font-face {
      font-family: "Spincycle OT";
      src: url("assets/fonts/spin-cycle-ot/spincycle_ot.otf") format("otf");
  }
  
  html {
    font-size: 62.5%;
  }
  
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
header, #hero, section > *, footer * {
    max-width: 1000px !important;
    margin: 0 auto;
}
section, footer {
    padding-inline: clamp(2em, 6vw, 5em);
    width: 100%;
}
main section, footer {
    padding-block: clamp(4em, 5vh, 5em);
    text-align: center;
}
button {
    font-size: clamp(1rem, 1rem + 1vw, 2rem);
    font-weight: bold;
    background-color: var(--links-hover-active-bg);
    min-width: 12em;
    min-height: 3em;
    color: white;
    border-radius: 33em;
    border: none;
    text-transform: uppercase;
}
button:hover {
    opacity: var(--buttons-hover-active-opacity);
    cursor: pointer;
}
* {
    box-sizing: border-box;
    font-family: "Source Sans Pro";
    margin: 0;
    padding: 0;
}
p {
    font-size: 1.5rem;
    font-weight: normal;
}
#hero-section {
    background: no-repeat url("assets/images/headphones_hero_1.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
#hero-section nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}
.logo {
    height: auto;
    width: max(170px, 22vw);
}
#nav-links {
    display: none;
}
#hero {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    height: 80vh;
    text-align: center;
    color: white;
}
h1 {
    font-size: clamp(1rem, 1rem + 5vw, 5rem);
}
h2 {
    font-size: clamp(1rem, 1rem + 3.5vw, 3.5rem);
    margin-block: 2rem;
}
h4 {
    font-size: clamp(1rem, 1rem + 2vw, 2rem);
}
#hero p {
    font-size: clamp(1.5rem, 1rem + 1vw, 2rem);
    margin-block: 2rem;
}
#hero-text {
    font-weight: lighter;
    font-size: 0.8rem;
}
.intro-text p {
    font-size: clamp(1.5rem, 1rem + 1.5vw, 2rem);
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-block-start: 5rem;
}
.service {
    min-height: 100px;
    width: 200px;
    padding-block-end: 2rem;
}

.flex-item * {
    padding-block-end: 1rem;
    gap: 1rem;
}

.flex-item p {
    font-size: clamp(1.2rem, 1rem + 0.6vw, 1.6rem);
}

#results-section {
    background: no-repeat url("assets/images/headphones_hero_2.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}
.result {
    background-color: var(--links-hover-active-bg);
    padding: 2em;
    margin-block-end: 2rem;
    margin-inline: 1rem;
    height: max(10vw, 20em);
    width: max(10vw, 20em);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.result * {
    margin-block-end: 0.5rem;
}
.result-number {
    font-size: clamp(3rem, 2rem + 8vw, 5rem) !important;
    font-weight: bold !important;
}
form {
    width: min(500px, 85vw);
    margin: 0 auto;
}
label {
    display: block;
    text-align: left;
    font-size: clamp(1rem, 1rem + 1vw, 2rem);
}
input {
    font-size: clamp(1rem, 1rem + 0.7vw, 2rem);
    background: transparent;
    border: none;
    border-bottom: 0.15em solid #42424259;
    width: 100%;
    margin-block-end: 4rem;
    line-height: 2em;
    outline: none;
}
footer {
    background: #071629;
}
#socials {
    display: flex;
    align-items: center;
    justify-content: center;
}
#socials > div {
    background-color: white;
    border-radius: 50%;
    padding: 1em;
    margin-inline: 1em;
    margin-block-start: 3rem;
    cursor: pointer;
}
#socials > div:hover {
    background-color: var(--links-hover-active-bg);
}
.footer-icon {
    max-height: 2.5em;
    max-width: 2.5rem;
}
#copyright {
    color: white;
    opacity: 35%;
    font-size: clamp(1rem, 1rem + 0.5vw, 2rem);
    margin-block-start: 2em;
}
@media screen and (min-width: 900px) {
    #hero-section nav {
        justify-content: flex-start;
    }
    #footer > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    #socials > div {
        margin-block-start: 0;
    }
    #copyright > p {
        margin: 0 auto;
    }
    #hero-section nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2em;
    }
    #nav-links {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        min-width: 40%;
    }
    #nav-links a {
        font-size: clamp(1rem, 1rem + 3vw, 2.5rem);
        color: white;
        text-decoration: none;
        font-weight: bold;
        margin-inline-end: 1em;
    }
    #nav-links a:hover {
        color: var(--links-hover-active-bg);
    }
}
@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.service-img {
    animation: wave 5s ease-in-out infinite;
    transform-origin: top;
}
.results > * {
    transition: all 0.5s ease-in-out;
}
.result:hover {
    transform: scale(1.1);
}